body {
  padding: 50px 100px;
  background-color: white;
  font: arial;
  font-size: 100%;
  text-align: justify;
  text-justify: inter-word;
}

nav {
  display: none;
}

.center {
  text-align: center;
}

a:link, a:visited {
  color: #000000;
}

a:hover {
  color: #FF00FF;
}

a:active {
  color: #0000FF;
}

p {
  orphans: 3;
  widows: 3;
}

caption {
  margin-bottom: 15px;
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  caption-side: top;
  page-break-after: avoid;
}

img {
  display: block;
  margin: auto;
  width: 40%;
  filter: grayscale(100%);
}

section {
  border: 3px solid black;
  border-radius: 10px;
  border-spacing: 5px;
  margin-bottom: 10px;
  background: white;
  padding: 60px 20px;
  page-break-before: auto;
}

h1, h2, h3 {
  color: black;
  font-weight: bold;
}

h2 {
  text-indent: 10px;
}

figcaption{
  text-align: center;
}

ul {
  list-style: circle inside;
}

table {
  width: 100%;
}

tr:nth-last-child(-n + 2) {
  display: none;
}

.right {
  float: right;
}

.text-img {
  width: 150px;
}
