body {
  padding: 50px 100px 50px 100px;
  text-align: justify;
  background-color: #f1f1f1;
}

a {
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  margin: auto;
  width: 40%;
  filter:grayscale(100%);
}

section {
  border: 1px solid black;
  margin-bottom: 5px;
}

h1, h2, h3 {
  color: blue;
  font-weight:bold;
}

h2 {
  text-indent: 10px;
}
figcaption{
  text-align: center;

}
