body {
  padding: 20px;
  text-align: justify;
  background-color: #f1f1f1;
}

img.desaturate {
  filter:grayscale(100%);
}

h1, h2, h3 {
  color: blue;
  font-weight:bold;
}

h2 {
  text-indent: 10px;
}
